.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 10px 20px;
  color: white;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #f39c12;
}

.auth-container {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logout-btn {
  height: 40px;
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.logout-btn:hover {
  background-color: #c0392b;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

@media (max-width: 768px) {
  .hamburger {
      display: block;
  }

  .nav-links {
      display: none;
      flex-direction: column;
      background-color: #2C3E50;
      position: absolute;
      top: 60px;
      right: 0;
      width: 100%;
      text-align: center;
      padding: 10px 0;
  }

  .nav-links li {
      display: block;
      margin: 10px 0;
      line-height: 2;
  }

  #menu-toggle:checked + .hamburger + .nav-links {
      display: flex;
  }
}

